Service:
  RegionId: cn-hangzhou
  DeployType: ros
  OperationMetadata:
    StatusOperationConfigs:
    - TemplateName: ECS单机版
      SupportOperations:
      - Start
      - Stop
      - Restart
    SupportBackup: true
    ModifyParametersConfig:
    - TemplateName: ECS单机版
      Operation:
      - Name: 变更ECS实例规格
        Description: 变更ECS实例规格
        Type: Custom
        Parameters:
        - EcsInstanceType
      - Name: 变更ECS实例密码
        Description: 变更ECS实例密码
        Type: Custom
        Parameters:
        - InstancePassword
  DeployMetadata:
    SupplierDeployMetadata:
      SupplierTemplateConfigs:
      - Name: ECS单机版
        Url: ros_templates/template.yaml
        ArchitectureDiagramUrl: resources/architecture/architecture.jpg
        AllowedRegions:
        - ap-southeast-1
      ArtifactRelation:
        ecs_image_quickstart-openwebui:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: draft
    TemplateConfigs:
    - Name: ECS单机版
      Url: ros_templates/template.yaml
      ArchitectureDiagramUrl: resources/architecture/architecture.jpg
      AllowedRegions:
      - ap-southeast-1
  ServiceType: private
  ServiceInfo:
  - Locale: zh-CN
    ShortDescription: OpenWebUI是一个可扩展、功能丰富、用户友好的自托管Web界面，支持离线运行和多种LLM（大型语言模型）运行器。具有直观界面、响应式设计、快速响应等特性，提供Markdown和LaTeX支持、网络浏览能力、模型下载/删除等功能。支持多模型和多模态互动，可通过WebUI轻松创建Ollama模型文件。支持多用户管理和基于角色的访问控制，确保安全访问。项目正在积极改进和扩展中，支持多语言，并提供持续更新。
    Image: resources/icons/service_logo.png
    Softwares:
    - Name: open-webui
      Version: v0.6.41
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: ecs_image_quickstart-openwebui
    Description: quickstart-openwebui EcsImage
    SupportRegionIds:
    - ap-southeast-1
    ArtifactBuildProperty:
      CodeRepo:
        Platform: github
        Owner: Alicloud-ComputeNest
        RepoName: aliyun-computenest/quickstart-openwebui
        Branch: main
      RegionId: ap-southeast-1
      CommandType: RunShellScript
      SourceImageId: aliyun/services/computenest/images/aliyun_3_2104_docker_26_gpu
      CommandContent: 'mkdir -p /root/application

        if [ -e "/root/code/docker-compose.yaml" ]; then cp -r "/root/code/docker-compose.yaml"
        "/root/application/"; fi

        if [ -e "/root/code/ollama" ]; then cp -r "/root/code/ollama" "/root/application/";
        fi

        if [ -e "/root/code/.env" ]; then cp -r "/root/code/.env" "/root/application/";
        fi

        if [ -e "/root/code/open-webui" ]; then cp -r "/root/code/open-webui" "/root/application/";
        fi

        cd /root/application

        sed -i ''s/pull_policy: always/pull_policy: if_not_present/g'' docker-compose.yaml

        docker compose -f docker-compose.yaml build

        docker compose -f docker-compose.yaml pull || true;'
